<!DOCTYPE html>
<html>
  <head>
    <title>Bond</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
      FB.init({
        appId: <%= Facebook::APP_ID %>, cookie:true,
        status:true, xfbml:true
      });

      $(document).ready(function() {
        $(".friend").clickable();
        $(".like").clickable();
        $("#query").example("search for a friend here");
      });
    </script>
    <section id="wrapper">
      <header>
        <h1><%= link_to 'Bond', root_path %></h1>
        <%= link_to image_tag("fb_login.png"), Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => root_url, :permissions => "user_likes, friends_likes") %>
      </header>
      <section id="main">
        <%= yield %>
      </section>
    </section>
  </body>
</html>
